<link rel="stylesheet" href="./css/header-contacto.css">
<header>
    <div class="content-info">
        <img src="./img/yo.jpg" alt="">
        <div class="info-contacto">
            <span>Jean Torres</span>
            <span id="novedades">yesterday</span>
        </div>
    </div>

    <div class="opciones-chats">
        <button><img src="./img/videoLlamada.png" alt=""></button>
        <button><img src="./img/buscar.png" alt=""></button>
        <button><img src="./img/menuTresPuntos.png" alt=""></button>
    </div>
</header>