<link rel="stylesheet" href="./css/main.css">
<main>
    <div class="content-chats" id="content-chats">
        <div class="content-message" >
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>


        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>


        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>


        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>


        <div class="content-message mio">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message">
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>

        <div class="content-message mio">
            <div class="content-chat-referents">
                <span class="remitente">You</span>
                <span class="message">Ja,ja,ja</span>
            </div>
            <span class="message">Hola como estas?</span>
            <span style="font-size: 14px;">12:20pm</span>
        </div>


    </div>



    <div class="contebt-entradas">
        <button><img src="./img/jajaja.png" alt=""></button>
        <button><img src="./img/más.png" alt=""></button>
        <input type="text" placeholder="Escriba su mensaje" id="entradaMessage">
        <button id="grabarAudio"><img src="./img/microfono.png" alt=""></button>
        <button id="enviar"><img src="./img/enviar.png" alt=""></button>
    </div>

</main>