<link rel="stylesheet" href="./css/nav-side.css">
<div class="content-nav">
    <div class="opciones">
        <img src="./img/yo.jpg" alt="" id="mi-foto">
        <div>
            <button><img src="./img/grupos.png" alt=""></button>
            <button><img src="./img/estados.png" alt=""></button>
            <button><img src="./img/newChat.png" alt=""></button>
            <button><img src="./img/menuTresPuntos.png" alt=""></button>
        </div>
    </div>
    <div class="content-contacto">
        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola Jean ¿como estas?</span>
            </div>
        </div>


        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>

        <div class="contacto">
            <img src="./img/fondow.jpg" alt="logo">
            <div class="datos-contacto">
                <span class="nombre-usuarios">Nombre</span>
                <span class="hora-mensaje">8:50am</span>
                <span class="ultimo-mensaje">Hola</span>
            </div>
        </div>
    </div>
</div>