header{
    padding: 0 16px;

    display: flex;
    background-color: #202C33;
    justify-content: space-between;
    min-height: 59px;
    align-items: center;

    margin-top: -39.7em;
    margin-left: 40.05%;
}

header img{
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.content-info img{
    width: 40px;
    height: 40px;
}

.content-info{
    display: flex;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.info-contacto{
    width: 250px;
    max-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

.info-contacto span{
    color: white;
}

.info-contacto span:nth-child(1){
    width: 200px;
    font-size: 16px;
}

.info-contacto span:nth-child(2){
    max-width: 180px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.opciones-chats {
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 60px;
    background: none;
    border: 0;
    cursor: pointer;
}