.content-nav {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 39.7em;
    border-right: 0.2px solid gray;
    background-color: #111B21;
}

.content-nav img {
    border-radius: 99%;
    margin: 0 5px;
}

#mi-foto{
    width: 40px;
    height: 40px;
}

.opciones {
    display: flex;
    background-color: #202C33;
    justify-content: space-between;
    min-height: 59px;
    align-items: center;
    padding: 0 10px 0 10px ;
}

.opciones img {
    width: 24px;
    height: 24px;
}

.opciones div {
    display: flex;
    width: 220px;
    justify-content: space-around;
}

/* Panel de contactos */

.content-contacto {
    overflow-y: auto;
}

.contacto {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 0;
}

.datos-contacto {
    display: flex;
    flex-wrap: wrap;
    width: 89%;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(76, 76, 76);
    align-items: center;
    padding: 5px;
}

.datos-contacto span {
    color: white;
    font-size: 17px;
}

.datos-contacto span:nth-child(1) {
    width: 85%;
    display: block;
    color: white;
}

.datos-contacto span:nth-child(3){
    max-width: 65%;
    max-height: 35px;
    margin-top: 10px;
    font-size: 14px;
}

.content-contacto  img{
    width: 49px;
    height: 49px;
}

button {
    width: 60px;
    background: none;
    border: 0;
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 10px;
}
